# Compactify Configuration
# This file allows you to define global patterns for the CLI.
# Flags passed directly on the command line will always have priority over these values.

# Number of concurrent operations (Default: number of system CPUs)
concurrency: %d

# Default input directory (Commented out to prevent accidental runs)
# input: "./images"

# Default output directory
# output: "./compacted"

# Execute without writing changes to disk
dry-run: false